{% extends "base/base.html" %}
{% block title %}Tracker Search For Order - Track your Order with the Domino's Tracker to Know about your Pizza{% endblock title %}
{% block endHeader %}
<link rel="stylesheet" type="text/css" href="https://cache.dominos.com/olo/6_89_4/assets/build/css/order.css"
          media="all">
{% endblock endHeader %}
{% block content %}
<div id="pageContent" class="js-contentWrap content-wrap skeleton__content content-wrap--full-header">
    <div class="progress-bar"></div>
    <div class="grid__cell--1 js-surpriseFreesContainer"></div>
    <div id="trackerPage" class="tracker-page w100">
        <div class="grid">
            <div class="grid__cell--1">
                <div class="tracker--flash tracker__lookup">
                </div>
                <div id="trackerPhoneText" class="card card--strikethrough">
                    <div class="card__header"><h2 class="card__title">Want to know what's happening with your order
                        right now?</h2></div>
                    <div class="card__body"><p>The delivery experts at Domino's have specifically engineered Domino's
                        Tracker® to keep you up to date on the status of your order from the moment it's prepared to the
                        second it leaves our store for delivery.</p></div>
                </div>
                <div id="phoneCollect" class="card card--pop card--tracker-lookup is-hidden" style="display: block;">
                    <div class="card__header"><h2 class="card__title">Track your order</h2></div>
                    <div class="card__body">
                        <div class="form form--stacked">
                            <form id="phoneForm" method="POST" novalidate="novalidate">
                                {% csrf_token %}
                                <fieldset class="fieldset--reset">
                                    <legend class="form__legend--margin-bottom">Enter your phone number below</legend>
                                    <div class="form__control-group form__control-group--required"><label for="Phone"
                                                                                                          alt="required"><strong>*</strong>Phone
                                        #:</label>
                                        <div class="numericInputGroup form__control-group--flex"><input type="tel"
                                                                                                        id="CountryCode"
                                                                                                        name="CountryCode"
                                                                                                        class="js-country"
                                                                                                        placeholder="(297)"
                                                                                                        size="5"
                                                                                                        autocomplete="tel-country-code"
                                                                                                        disabled="disabled">
                                            <input type="tel" id="Phone" name="Phone" class="js-phone" size="15"
                                                   placeholder="" autocomplete="tel-national" maxlength="8"> <label
                                                    for="Extension"></label> <input type="tel" id="Extension"
                                                                                    name="Extension"
                                                                                    class="js-extension" size="6"
                                                                                    maxlength="6" placeholder=""
                                                                                    aria-label="Phone Extension"
                                                                                    autocomplete="tel-extension"></div>
                                        <div class="noteText noteText--tracker-phone"></div>
                                    </div>
                                </fieldset>
                                <div class="noOrdersMessage is-hidden"> Oops. We weren't able to find any valid orders
                                    associated with that phone number. Could your order be associated with another phone
                                    number?
                                </div>
                                <div class="trackerConnectionErrorMessage is-hidden"> Oops. The Domino's Tracker® is not
                                    playing nicely today so it's put itself in timeout. We're on it. In the meantime,
                                    you can always check your email for your order confirmation and time estimate!
                                </div>
                                <div class="form__control-group grid">
                                    <div class="grid__cell--1 grid__cell--1/4@desktop grid__cell--offset-3/4@desktop">
                                        <h1 class="btn--text">
                                            <button type="submit" class="btn btn--large btn--block js-formSubmit"><span>Track Your Order</span>
                                            </button>
                                        </h1>
                                        <p class="terms-of-use terms-of-use--tracker-lookup">By tracking your order you
                                            agree to our <a class="js-isTemplatePopup"
                                                            data-template-popup="contentPageTerms"
                                                            href="/en/#!/content/terms/">Terms of Use</a> and that you
                                            are at least 13 years old.</p></div>
                                </div>
                            </form>
                        </div>
                        <div id="recentOrders" class="is-hidden recent-orders"><p class="recent-orders__text">Here are
                            your most recent orders. Choose one to review.</p>
                            <h2>Order Date</h2>
                            <ul class="container"> <!--  --> </ul>
                            <div class="form__control-group form__control-group--actions--alignright"><a
                                    href="#!/order/" class="btn btn--large js-changePhone"><span>New Search</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}