<section role="dialog" class="card card--overlay js-cardOverlay " aria-labelledby="dialogHeader"
         data-quid="generic-card-overlay" tabindex="0" aria-hidden="false">
    <header class="card__header "><h1 data-quid="generic-card-overlay-title" id="dialogHeader" class="card__title ">
        We've sent an email! </h1>
        <button class="card--overlay__close js-closeButton " data-dpz-track-evt-name="×"
                data-quid="generic-overlay-close" type="button" aria-label="Close"></button>
    </header>
    <div role="document" data-quid="generic-card-overlay-body" class="card__body"><h2 class="informationText"></h2>
        <div class="card__body"><p class="informationText ">To complete your password reset, click the link in the email
            sent to <span class="buttonType3">privsrv312@inbox.lv</span>. </p></div>
    </div>
</section>